/* .box{
	transform: translate(length, length);
	transform: rotate(angle);
	transform: scale(0, 0);
	transform: skew(angle, angle);
	transition: all 2s linear 2s;
	opacity: 0.2;只能在子元素中加否则会覆盖
	transform-style:preserve-3d;的效果
	对于效果旋转时明确时必须指出x轴和y轴。
} */
*{
	margin: 0;
	list-style: none;
	box-sizing: border-box；
}
body{
	background: #333333;
	overflow: hidden;
}
.box{
	width: 800px;
	height: 800px;
	position: absolute;
	border: 1px solid red;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	perspective: 1000px;
	perspective-origin:bottom left;
}
.box:hover ul{
	display: block;
}
.box ul{
	width: 100%;
	height: 100%;
	position: relative;
	position: absolute;
	list-style: none;
	transform-style:preserve-3d;
	display: none;
}
.box ul:hover{
	transform: scale(2) rotateX(180deg) rotateZ(180deg);
	transition: all 2s linear 1s ;
	/* animation-iteration-count: infinite; */
}
.box ul li{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: blue;
	box-shadow: 0 0 100px #fff;
	font-size: 100px;
	text-align: center;
	line-height: 200px;
	color: red;
	opacity: 0.2;
	animation: change 4s infinite;
}
.box:hover .box1{
	transform: translateZ(100px);
	background:  black;
	transition: all 1s;
}
.box:hover .box6{
	transform: translateZ(-100px);
	background:  black;
	transition: all 1s;
}
.box:hover .box2{
	transform: translateY(-100px) rotateX(90deg);
	background:  black;
	transition: all 1s;
}
.box:hover .box5{
	transform: translateY(100px) rotateX(90deg);
	background: black;
	transition: all 1s;
}
.box:hover .box3{
	transform: translateX(-100px) rotateY(90deg);
	background: black;
	transition: all 1s;
}
.box:hover .box4{
	transform: translateX(100px) rotateY(90deg);
	background: black;
	transition: all 1s;
}

 @keyframes change{
	20%{
 	background:black; 
 }
    20%{
	background: blue;
     }
    20%{
	background: yellow;
     }
    40%{
	background: #02f8c7;
     }
 }

 